@import url('https://fonts.googleapis.com/css2?family=Beth+Ellen&family=Caprasimo&family=Inconsolata:wght@300;400;700&family=Oi&family=Shrikhand&family=Ultra&family=Unbounded:wght@200;400;800&display=swap');

:root {
  --blue: #266DD3;
  --black: #020300;
  --brown: #36311F;
  --gold: #DFAF00;
  --green: #248232;
  --light: #EDE7E3;
  --main-font: 'Inconsolata', Helvetica, sans-serif;
}

body {
  color: var(--black);
  font-family: 'Inconsolata', Helvetica, sans-serif;
}

.background-circle {
  position: fixed;
  top: -300px;
  left: -200px;
  z-index: -11;
  height: 900px;
  width: 900px;
  border-radius: 50%;
  background: linear-gradient(90deg, var(--light), rgba(0,0,0,0)), url("data:image/svg+xml,%3Csvg viewBox='0 0 250 250' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='9.22' numOctaves='6' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
}

.scurry {
  top: 80vh;
  position: fixed;
  width: 100%;
  animation: move 10s linear infinite;
  z-index: -1;
}

.dancer {
  position: fixed;
}

.dancer img {
  width: 9em;
}


/* USER MAIN DISPLAY */
.user-main {
  display: grid;
  grid-template-columns: repeat(15, 7vw);
  grid-template-rows: repeat(15, 6vh);
}
.header {
  grid-area: 1 / 2 / 3 /15;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: -10px;
  background: linear-gradient(90deg, var(--light), rgba(0,0,0,0)), url("data:image/svg+xml,%3Csvg viewBox='0 0 250 250' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='9.22' numOctaves='6' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
}

.header h1 {
  font-family: "Shrikhand";
  width: 400px;
  font-size: 30px;
  text-align: center;
  cursor: pointer;
}

.header h1:hover {
  color: var(--blue);
}

.header img {
  width: 12em;
  margin-top: 10px;
  opacity: 50%;
  
}
.side-line {
  grid-area: 1 / 1 / 16 / 2;
  margin-right: 10px;
  margin-top: -10px;
  border-right: 1px solid var(--black);
}

.art {
  grid-area: 3 / 2 / 11 / 9;
  display: grid;
  grid-template-columns: repeat(26, 3.5vw);
  grid-template-rows: repeat(24, 3vh);
}

.art-info {
  grid-area: 2 / 1 / 20 / 5;
  z-index: 2;
}

.art-info .title,
.art-info .description-header,
.art-info .price {
  border-bottom: 1px solid var(--black);
  margin-left: -10px;
  margin-right: 90px;

  height: 2.5em;
  text-transform: uppercase;
}

.art-info .description-header {
  margin-top: 40px;
  height: 1.9em;
}

.art-info .title h2,
.art-info .description h2 {
  margin: 0;
  padding-left: 0.5em;
  font-size: 2.3em;
  font-weight: 700;
  width: 500px;
}

.art-info .description h2 {
  font-weight: 700;
  width: 300px;
  font-size: 1.8em;
}

.art-info .price {
  border-bottom: 1px solid var(--black);
  margin-top: 6em;
  height: 3.2em;
}

.art-info .price h3 {
  font-size: 3em;
}

.image-container {
  grid-area: 4 / 5 / 25  / 15;
  background-color: var(--gold);
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 250 250' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='9.22' numOctaves='6' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
  height: 500px;
  width: 500px;
  padding: 2em;
  box-shadow: 5px 5px 10px var(--light);
}

.art-image {
  background-color: var(--brown);
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 250 250' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='9.22' numOctaves='6' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
  border-radius: 50% 50% 0% 0%;
  height: 500px;


  display: flex;
  align-items: center;
  justify-content: center;
}

.art-image img {
  width: 300px;
  margin-top: 10px;
  box-shadow: 5px 5px 5px var(--brown);
}

.timer-container {
  grid-area: 5 / 18 / 16 / 25;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 2em;
  width: 250px;
  padding: 1em;
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 250 250' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='4.22' numOctaves='1' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
  /* border-radius: 50% 50% 0% 0%; */
  height: 300px;
}

.timer {
  align-self: stretch;
  display: flex;
  justify-content: space-between;
}

.colon {
  align-self: center;
  font-size: 2em;
  margin-bottom: 1em;
}

.time {
  width: 100%;
  margin: auto;
  text-align: center;
}

.time h2 {
  font-size: 2em;
}

button.buy {
  text-align: center;
  border-radius: 50%;
  font-size: 2em;
  color: var(--black);
  height: 120px;
  width: 120px;
  background-color: var(--green);
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 250 250' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='9.22' numOctaves='6' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
}

button.buy:hover,
button.checkout:hover {
  text-decoration: underline;
  background-color: var(--blue);
  box-shadow: 5px 5px 5px var(--light);
}

/* USER CART */
.cart-main {
  grid-area: 4 / 3 / 14 / 13;

  display: grid;
  grid-template-columns: repeat(10, 7vw);
  grid-template-rows: repeat(10, 5vh);
  border-top: 1px solid var(--blue);
  border-right: 1px solid var(--blue);
  padding-top: 1em;
}

.message {
  grid-area: 3 / 2 / 4 / 9;
}

.cart-main h1 {
  grid-area: 1 / 3 / 2 / 5;
  text-align: center;
}

.cart-main .cart-exit {
  grid-area: 1 /10 / 2 / 11;
  text-align: center;
  height: 40px;
  width: 40px;
  margin: auto;
  border-radius: 100%;
  border: 2px solid var(--green);
  font-size: 1.7em;
}

.cart-main .cart-exit:hover {
  cursor: pointer;
  background-color: var(--green);
  color: var(--light);
}

.cart-item {
  grid-area: 3 / 3 / 6 / 11;
  padding: 1em;
  border-bottom: 1px solid var(--black);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-item-info img {
  height: 80px;
  width: 80px;
  border-radius: 100%;
}

.cart-item-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.2em;
}


.line1 {
  grid-area: 3 / 3 / 10 / 7;
  border-top: 1px solid var(--black);
  border-left: 1px solid var(--black);
}

.total {
  grid-area: 6 / 3 / 8 / 8;
  padding: 1em;
  border-bottom: 1px solid var(--black);
}

.checkout {
  grid-area: 6 / 8 / 10 / 10;
  margin-top: 1.5em;
  border-radius: 50%;
  height: 150px;
  width: 150px;
  border: 2px solid black;
}
/* ADMIN */

.admin-body {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(10, 10vh);
  gap: 1em;
}
.admin-nav {
  padding: 20px;
  margin: 20px;
  grid-area: 1 / 1 / 2 / 7;
}

/* /\/\/\/\/\/\/ ADMIN MAIN \/\/\/\/\/\/\/ */

.admin-main {
  grid-area: 2 / 1 / 11 / 7;

  display: grid;
  grid-template-columns: repeat(10, 9vw);
  grid-template-rows: repeat(10, 8vh);
  gap: 1em;
}

.success-msg {
  position: fixed;
  left: 40%;
  font-size: 1.5em;
  color: var(--blue);
  padding: 1.2em;
  z-index: -1;
  opacity: 50%;
}

.for-sale {
  grid-area: 1 / 1 / 11 / 4;
  margin: 20px;
  padding: 1em;
  background: var(--light);
  margin-bottom: 230px;
}

.for-sale .timer {
  display: flex;
  justify-content: space-between;
  background-color: var(--green);
  color: var(--light);
  padding: 1em;
}

.for-sale .timer p,
.for-sale .timer span {
  width: 100%;
  margin: auto;
  text-align: center;
}

.timer-art {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
  margin: 1em;
  background-color: var(--gold);
}

.all-art-list {
  grid-area: 1 / 4 / 11 / 11;

  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-right: 3em;
}

.art-list-item {
  background-color: var(--light);
  padding: 1em;
}

.art-list-item:hover {
  background-color: var(--blue);
  color: var(--light);
  cursor: pointer;
}

th {
  background-color: var(--gold);
}

td {
  padding: .7em;
  width: 25%;
}

.art-list-item img {
  height: 120px;
  width: auto;
  margin: auto;
}

.add-art-btn {
  align-self: center;
  background-color: var(--green);
  color: var(--light);
}

.add-art-btn:hover {
  background-color: var(--blue);
}

/* ^^^^^^^^^^^ ADMIN MAIN ^^^^^^^^^^^^ */
/* \/\/\/\/\/\/ ADMIN DETAILS \/\/\/\/\/ */

.art-details {
  grid-area: 2 / 3 / 8 / 5;

  background-color: var(--light);
  margin-top: 2em;
  padding: 1.2em;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.art-details .exit {
  align-self: flex-end;
  padding: 0;
  margin: 0;
}

.art-btns {
  display: flex;
  gap: 20px;
  justify-content: center;
}

/* ADMIN ADD ART FORM */

.add-art-form,
.edit-art {
  grid-area: 3 / 3 / 10 / 5;

  background-color: var(--blue);
  padding: 2em;
}

.edit-art {
  grid-area: 2 / 3 / 11 / 5;
  margin-bottom: 2em;
}

.exit {
  text-align: right;
  cursor: pointer;
  font-size: 1.5em;
}

.add-art-form form,
.edit-art form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

.add-art-form label,
.edit-art form label {
  align-self: flex-start;
  margin-bottom: -14px;
  color: var(--light);
}

.add-art-form input,
.edit-art form input {
  align-self: stretch;
  line-height: 2em;
}

.edit-art .submit-edit {
  margin-top: 2em;
}

.drop-down {
  align-self: flex-start;
  display: flex;
  gap: 1em;
  align-items: center;
}

.drop-down select {
  font-size: 1.1em;
  font-family: var(--main-font);
}

/* ADMIN ART TO SELL FORM */

.sell-art-form {
  grid-area: 2 / 2 / 9 / 6;

  background-color: var(--blue);
  padding: 2em;
  margin: 0 5em 0 5em;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
}

.selected-art {
  grid-area: 1 / 1 / 6 / 4;
  height: 500px;
}

.date-select {
  grid-area: 2 / 4 / 7 / 7;
  padding: 2em;

}

.date-select form {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.exit-sell {
  cursor: pointer;
  grid-area: 1 / 6 / 2 / 7;
  padding: 0;
  margin: 0;
  text-align: right;
  font-size: 2em;
  font-weight: 700;
}
.date-select form input {
  line-height: 2em;
  width: 200px;
  margin: auto;
}

.date-select form button {
  align-self: center;
}

img {
  width: 12em;
}

@keyframes move{
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-10%);
  }
}